.header {
  padding: 50px 30px 0px 30px;
  width: 50%;
}

#urns, #keepsakes {
  display: none;
  height: fit-content;
  width: 50%;
}

.urn-list {
  display: flex;
  flex-direction: column;
}

.urn, .keepsake {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price, .keepsake-price {
  font-size: 14px;
  text-align: center;
}

.urn-row {
  display: flex;
}

.urn-name, .keepsake-name {
  text-align: center;
  padding-bottom: 0px!important;
}

.urn-card, .keepsake-card {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
  width: 1500px;
}
.urn-card:hover, .keepsake-card:hover {
  box-shadow: 0 0 8px rgba(157, 124, 157, 0.7);
}

#urn-colors {
  display: flex;
  gap: 1vw;
}

.urn-color {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
}
.urn-color:hover {
  box-shadow: 0 0 8px rgba(157, 124, 157, 0.7);
}

.selected {
  border: 1px solid rgba(157, 124, 157, 1);
  box-shadow: 0 0 8px rgba(157, 124, 157, 0.7);
}

.frame {
  padding: 10vh 5vw 0px 5vw;
  display: flex;
  gap: 5vw;
}

.message-box {
  background: #e6e6e6;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(157, 124, 157, 0.5);
  padding: 2vw;
  flex-direction: column;
  align-items: center;
}

#right-pane {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

#selected-urn {
  display: none;
  width: 100%;
  height: 150px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5vw;
}

#keepsake-list {
  display: none;
  gap: 60px;
}

#complete-order, #confirm-order {
  display: none;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.keepsake-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 4vw;
  width: 100%;
}

.keepsake-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 230px;
  font-size: small;
}

.total-cost-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#total-cost {
  font-size: 12px;
  font-weight: bold;
}

#urn-info {
  display: flex;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#chosen-image, #keepsake-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
}

#chosen-name, #keepsake-name {
  font-size: 1.5rem;
  text-align: center;
}

#chosen-price, #keepsake-price {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
}

#chosen-desc {
  text-align: center;
  margin-top: 25px;
}

#select-urn, #select-keepsake {
  margin: 20px;
  width: 50%;
}

.x-button {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

#urn-thumbnail, .keepsake-list-thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all 0.3s;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
  flex-grow: 1;
  max-width: 150px;
}

#keepsake-info {
  display: flex;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#final-order {
  display: none;
  align-items: stretch;
}

.btn {
  font-weight: 700 !important ;
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: rgb(137, 98, 151);
  border-color: rgb(137, 98, 151);
  border-top-color: rgb(137, 98, 151);
  border-right-color: rgb(137, 98, 151);
  border-bottom-color: rgb(137, 98, 151);
  border-left-color: rgb(137, 98, 151);
}

.btn-primary:disabled {
  color: #fff;
  background-color: rgb(137, 98, 151);
  border-color: rgb(137, 98, 151);
  border-top-color: rgb(137, 98, 151);
  border-right-color: rgb(137, 98, 151);
  border-bottom-color: rgb(137, 98, 151);
  border-left-color: rgb(137, 98, 151);
}

.qty {
  display: flex;
  justify-content: center;
  text-align: center;
}

.qty-label {
  font-size: 14px;
}

#qty {
  display: block;
  padding: 7px 10px;
  text-align: center;
  border-radius: 4px;
  color: #000000;
  width: 60px;
}

.quantity {
  display: flex;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 0.25rem;
  height: 30px;
  justify-content: center;
}

#subtotal {
  display: flex;
  justify-content: end;
  gap: 5vw;
  padding: 20px 20px 0px 20px;
  font-size: 18px;
  font-weight: bold;
}

.minusBtn {
  height: 43px;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  outline: none;
  user-select:none
}

.plusBtn {
  height: 43px;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
  outline: none;
  user-select:none
}

.order-table {
    border: solid 1px #613f6d;
    border-collapse: collapse;
    border-spacing: 0;
}
.order-table thead th {
    background-color: #896297;
    border: solid 1px #613f6d;
    color: #fff;
    padding: 10px;
    text-align: left;
}
.order-table tbody td {
    border: solid 1px #613f6d;
    color: #000;
    padding: 10px;
}
.order-table tr:first-child {
    font-weight: bold;
}

@media (max-width: 1200px) {
  .frame {
    flex-direction: column-reverse;
  }

  #urns, #keepsakes {
    width: 100%;
  }

  #right-pane {
    width: 100%;
  }

  .header {
    width: 100%;
  }

}
